.myBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/loginbg.png'); 
  background-size: cover; 
  background-position: center; 
  position: relative; 
}

.myBackground::before {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.whiteBox {
  background-color: white;
  padding: 20px; 
  min-width: 400px; 
  height: 70%;
  width: 40%; 
  border: 1px solid #333;
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  position: relative; 
  z-index: 2; 
}

.itemBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  color: black; 
}

.title {
  font-size: 30px;
  color: #000; /* Consistent black color */
}

.myForm, 
.myButton {
  width: 100%;
}

.myButton {
  background: rgb(229, 201, 20) !important;
  color: #000; 
  border: none; 
  padding: 10px; 
  border-radius: 4px; 
  cursor: pointer; 
}

.myButton:hover {
  background: rgb(255, 183, 0); 
}


input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  width: 100%; 
}