.heroContainer {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0); /* Text color */
    text-align: center; /* Center text */
}

.loading {
    font-size: 20px; /* Increase font size for loading text */
    color: #fff; /* Change color for visibility */
}

.heroContent {
    padding: 40px;
    border-radius: 10px; /* Rounded corners */
}

.heroTitle {
    font-size: 48px; /* Large title */
    margin-bottom: 20px; /* Space below title */
}

.heroSubtitleContainer {
    margin-bottom: 30px; /* Space below subtitle */
}

.heroSubtitle {
    font-size: 24px; /* Subtitle size */
}

.ctaButton {
    padding: 10px 20px; /* Button padding */
    font-size: 18px; /* Button font size */
    border-radius: 5px; /* Rounded button corners */
    background-color: rgb(255, 183, 0); /* Button color */
    color: rgb(0, 0, 0); /* Brgb(12, 12, 8)r */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
}

.ctaButton:hover {
    background-color: rgb(255, 183, 50); /* Button hover color */
}